<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <title>Person page</title>
    <style>
        #f{
        background:pink;
        border :black 2px solid;
        margin:auto;
        margin-top:100px;
        }
        th ,td ,tr {
         border :black 2px solid;
         font :30px sans-serif;
         color: green;
         padding :5px;
         text-align: center;
        }


    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table  id="f">
<thead id="f1">
<tr >
    <th> ID</th>
    <th> FirstName </th>
    <th> LastName</th>
    <th> Email</th>
    <th> Action</th>
</tr>
</thead>
    <tbody id="f2">
    <tr th:each ="persons :${person}">
     <td th:text="${persons.id}" />
        <td th:text="${persons.firstName}" />
        <td th:text="${persons.lastName}" />
        <td th:text="${persons.email}" />
        <td>Empty </td>
    </tr>

 </tbody>

</table>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>